@charset "UTF-8";
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 100 700;
  src: url('/assets/fonts/RobotoMono.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
}

html {
  background: #191919;
  overflow: hidden;
}

body {
  height: 100vh;
  padding: 5vw;
  width: 100vw;
}

.title, .text {
  font-size: 1.25rem;
  text-align: center;
}
.title { color: #4095bf; }
.text { color: #dddddd; }

a {
  color: #666666;
  transition: color 0.5s ease;
}
a:hover { color: #4095bf; }

.horizontal-flex, .force-horizontal-flex {
  align-items: center;
  display: flex;
  gap: 0.75rem;
  height: auto;
  justify-content: center;
  width: 100%;
}

.vertical-flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.textbox {
  background: #151515;
  border: 2px solid #dddddd;
  color: #dddddd;
  font-size: 1rem;
  min-height: 20vh;
  padding: 10px;
  resize: none;
  transition: border-color 0.5s ease;
  width: 100%;
}

.textbox:focus {
  border-color: #4095bf;
  outline: none;
}

.box {
  align-items: center;
  background: #151515;
  border: 2px solid #dddddd;
  color: #dddddd;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 10px;
  transition: border-color 0.5s ease;
  width: 100%;
}

.button {
  background: #151515;
  border: 2px solid #dddddd;
  color: #dddddd;
  cursor: pointer;
  font-size: 1rem;
  height: auto;
  padding: 10px;
  transition: border-color 0.5s ease;
  width: 100%;
}

.box:hover,
.button:hover { border-color: #4095bf; }

.charactercounter .count-normal {
  transition: color 0.5s ease;
  color: #dddddd;
}

.charactercounter .count-warning {
  transition: color 0.5s ease;
  color: #bf9540;
}

.charactercounter .count-danger {
  transition: color 0.5s ease;
  color: #bf4040;
}

.icon { 
  height: auto; 
  width: 80px; 
  fill: #dddddd; 
  transition: fill 0.5s ease;
}
.icon:hover { fill: #4095bf; }

input[type="checkbox"] {
  box-sizing: border-box;
  height: 1rem;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  width: 1rem;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #333;
  border-radius: 4px;
  cursor: pointer;
  height: 6px;
  margin: 0;
  width: 100%;
}

footer {
  bottom: 10px;
  color: #666666;
  font-size: 0.8rem;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  width: auto;
}

.heart {
  text-decoration: none;
}

.heart:hover { color: #bf4040; }

@media (orientation: landscape) and (max-height: 500px) {
  footer {
    margin-top: 0.5rem;
    position: static;
    transform: none;
  }
}

@media (orientation: portrait) {
  .horizontal-flex { flex-direction: column; }
}

@media (orientation: portrait) and (max-height: 850px) {
  footer {
    margin-top: 0.5rem;
    position: static;
    transform: none;
  }
}